<%- include('../partials/header.ejs') %>


<h1 class="header">Add A New Horse</h1>

<div class="form-wrapper">
    <form method="POST" action="/horses" class="horse-input">
        <input type="text" name="type" id="type" placeholder="Type">
        <input type="text" name="name" id="name" placeholder="Name">
        <input type="text" name="breed" id="breed" placeholder="Breed">
        <input type="text" name="sex" id="sex" placeholder="Sex">
        <input type="text" name="status" id="status" placeholder="Status">
        <input type="text" name="notes" id="notes" placeholder="Notes">
        <input type="text" name="lastChecked" id="lastChecked" placeholder="Last Checked">
        <input type="text" name="registration" id="registration" placeholder="Regitration Number">
        <input type="text" name="client" id="client" placeholder="Client">
        <input type="submit" class="submit-button">
    </form>
</div>


<%- include('../partials/footer.ejs') %>