<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EO Application</title>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            padding: 0;
            margin: 0;
            background-color: rgb(65, 99, 140);
        }
        nav{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:rgb(225, 188, 176);
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
        }
        li {
            margin: 0 10px;
        }
        .title {
            margin-left: auto;
            margin-right: auto;
            font-size: 50px;
            padding: 15px;
            color:rgb(174, 106, 97);
        }
        .boxes {
            display: flex;
            justify-content: center;
        }
        label {
            display: flex;
            justify-content: center;
            padding: 7px;
            text-decoration: underline;
            color:white;
        }
        .add-new{
            color:rgb(174, 106, 97)
        }
        a {
            color:rgb(174, 106, 97)
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <!-- shown regardless if the user is logged in or out -->
            <!-- shown when the user is logged in -->
            <% if (user) { %>
                <li><a href="/users/profile">Profile</a></li>
                <li class="title">Equestrian Organizer</li>
                <li><a href="/users/logout">Logout</a></li>
                <% } else { %>
                <!-- shown when the user is logged out -->
                <li><a href="/">Home</a></li>
                <li class="title">Equestrian Organizer</li>
                <li><a href="/users/new">Sign up</a></li>
                <li><a href="/users/login">Sign in</a></li>
            <% } %>
            
        </ul>
    </nav>