<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="/js/script.js"></script>
    <title>EO Application</title>
    
</head>
<body>
    <nav>
        <ul>
            <!-- shown regardless if the user is logged in or out -->
            <!-- shown when the user is logged in -->
            <% if (user) { %>
                <li><a href="/users/profile">Profile</a></li>
                <li class="title">Equestrian Organizer</li>
                <li><a href="/users/logout">Logout</a></li>
                <% } else { %>
                <!-- shown when the user is logged out -->
                <li><a href="/">Home</a></li>
                <li class="title">Equestrian Organizer</li>
                <li><a href="/users/new">Sign up</a></li>
                <li><a href="/users/login">Sign in</a></li>
            <% } %>
            
        </ul>
    </nav>