<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <!-- this script allows me to use the axios outside of node.js.  -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <script defer src="/js/script.js"></script>
    <title>EO Application</title>
    
</head>
<body>
    <nav class="nav-bar">
        <div class="header-container">
            <!-- shown regardless if the user is logged in or out -->
            <!-- shown when the user is logged in -->
            <% if (user) { %>

                <div>
                    <a class="head-title" href="/users/profile">Equestrian Organizer</a>
                </div>

                <div style="margin: 10px;">
                    <a href="/users/logout">Logout</a>
                </div>

                <% } else { %>
                <!-- shown when the user is logged out -->
                <div>
                    <a class="head-title" href="/">Equestrian Organizer</a>
                </div>

                <div class="signing-options">
                    <div><a href="/users/new">Sign up</a></div>
                    <div><a href="/users/login">Sign in</a></div>
                </div>

            <% } %>
            
        </div>
    </nav>