html, body{
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to bottom right, rgb(65, 99, 140), grey);
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5bea1;
    border-bottom: 2px solid black;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
li {
    margin: 0 10px;
}
.title {
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    padding: 15px;
    color:rgb(174, 106, 97);
}
.boxes {
    display: flex;
    justify-content: center;
}
label {
    display: flex;
    justify-content: center;
    padding: 7px;
    text-decoration: underline;
    color:white;
}
.add-new{
    color: rgb(52, 74, 91)
}
a {
    color:rgb(174, 106, 97)
}
.container {
    display: flex;
    justify-content: space-between;
}
.date-time, .center-boxes, .today-task {
    flex-basis: 33%;
    text-align: center;
}
.date-box {
    border: 2px solid white;
    margin: 15px;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
}
.sunrise {
    color: black;
    border-bottom: 1px solid black;
}
.sunset {
    color: black;
    border-bottom: 1px solid black;
}
.time-color {
    color: white;
}
.sun-clock {
    padding: 15px;
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
}
.horse-task-box {
    width: 33%;
}
.header {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: underline;
}
.horse-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 33%;
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-wrapper input[type="text"]{
    padding: 2.5px;
    margin: 5px;
}
.horse-photo, .horse-details, .horses-tasks {
    flex-basis: 33%;
    text-align: center;
}
.horse-img {
    max-width: 100%;
    margin: 15px;
    box-shadow: 0 8px 55px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
}
.horse-info{
    text-align: left;
    padding-left: 25px;
}
.horse-buttons {
    text-align: left;
    padding-left: 25px;
}
.horse-buttons form {
    display: inline-block;
    margin-right: 10px;
}
.task-details-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-details{
    text-align: center;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
    border: 1px solid white;
}
.task-buttons form {
    display: inline-block;
    margin-right: 10px;
}
.task-color{
    color: orange
}
.signup-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-form input{
    margin-bottom: 10px;
}
.signup-button{
    display: block;
    margin: 0 auto;
}
.select-shadow{
    font-size: 16px;
    /* color: #5a3e1b; */
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    /* border: 2px solid #8b4513; */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
    padding: 4px 8px;
    cursor: pointer;
}
button {
    background-color: #2a415e;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.submit-button{
    margin-top: 15px;
    background-color: #2a415e;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
