html, body{
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to bottom right, rgb(65, 99, 140), grey);
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5bea1;
    border-bottom: 2px solid black;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
li {
    margin: 0 10px;
}
.title {
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    padding: 15px;
    color:rgb(174, 106, 97);
}
.head-title {
    font-size: 50px;
    padding: 20px;
    color:rgb(174, 106, 97);
    text-decoration: none;
}
.header-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    align-items: flex-end;
}
.boxes {
    display: flex;
    justify-content: center;
}
label {
    display: flex;
    justify-content: center;
    padding: 7px;
    text-decoration: underline;
    color:white;
}
.add-new{
    color: rgb(52, 74, 91)
}
a {
    color:rgb(174, 106, 97)
}
.container {
    display: flex;
    justify-content: space-between;
}
.date-time, .center-boxes, .today-task {
    flex-basis: 33%;
    text-align: center;
}
.date-box {
    border: 2px solid white;
    margin: 15px;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
}
.sunrise {
    color: black;
    border-bottom: 1px solid black;
}
.sunset {
    color: black;
    border-bottom: 1px solid black;
}
.time-color {
    color: white;
}
.sun-clock {
    padding: 15px;
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
}
.horse-task-box {
    width: 33%;
}
.header {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: underline;
    z-index: 3;
    position: relative;
}
.nav-bar{
    z-index: 9999;
    position: relative;
}
.horse-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
}
.horse-input input[type="submit"]:hover {
    background-color: #2d3f5e;
}
.horse-input input[type="text"]:focus {
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
}
.form-wrapper{
    display: flex;
    justify-content: center;
    
}
.form-wrapper input[type="text"]{
    padding: 2.5px;
    margin: 5px;
}
.horse-photo, .horse-details, .horses-tasks {
    flex-basis: 33%;
    text-align: center;
}
.horse-img {
    max-width: 100%;
    margin: 15px;
    box-shadow: 0 8px 55px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.horse-info{
    text-align: left;
    padding-left: 25px;
}
.horse-buttons {
    text-align: left;
    padding-left: 25px;
}
.horse-buttons form {
    display: inline-block;
    margin-right: 10px;
}
.task-details-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-details{
    text-align: center;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
    border: 1px solid white;
}
.task-buttons form {
    display: inline-block;
    margin-right: 10px;
}
.task-color{
    color: orange
}
.signing-options{
    display: flex;
    margin-left: auto;
}
.signing-options > div{
    margin: 10px;
}
.signup-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-form input{
    margin-bottom: 10px;
}
.signup-button{
    display: block;
    margin: 0 auto;
}
.select-shadow{
    font-size: 16px;
    /* color: #5a3e1b; */
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    /* border: 2px solid #8b4513; */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
    padding: 4px 8px;
    cursor: pointer;
    border: none;
    width: 80%;
}
.today-task-list {
    font-size: 16px;
    /* color: #5a3e1b; */
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    /* border: 2px solid #8b4513; */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
    padding: 4px 8px;
    cursor: pointer;
    border: none;
    width: 80%;
}
.horse-list-main {
    font-size: 16px;
    /* color: #5a3e1b; */
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    /* border: 2px solid #8b4513; */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
    padding: 4px 8px;
    cursor: pointer;
    border: none;
    width: 80%
}
button {
    background-color: #2a415e;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.submit-button{
    margin-top: 15px;
    background-color: #2a415e;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.wallpaper{
    opacity: 1;
    position: fixed;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    vertical-align: middle;
}
.wallpaper img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.login-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.login-form input[type="email"],
.login-form input[type="password"],
.login-form input[type="tel"],
.login-form input[type="zip"]{
    display: block;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #444;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.login-form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #374a6a;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form input[type="submit"]:hover {
    background-color: #2d3f5e;
}

.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
select::-webkit-scrollbar {
    width: 12px;
}
select::-webkit-scrollbar-thumb {
    background-color: #374a6a;
    border-radius: 5px;
}
.task-form-container {
    display: flex;
    justify-content: center;
}

.task-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
}

.task-form label {
    font-size: 16px;
    color: #444;
}

.task-form input[type="text"],
.task-form input[type="date"],
.task-form input[type="time"] {
    display: block;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: #444;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.task-form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #374a6a;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.task-form input[type="submit"]:hover {
    background-color: #2d3f5e;
}

.task-form input[type="text"]:focus,
.task-form input[type="date"]:focus,
.task-form input[type="time"]:focus {
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
}
.edit-horse-container {
    display: flex;
    justify-content: center;
}

.edit-horse-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
}

.edit-horse-form input[type="text"] {
    display: block;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: #444;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.edit-horse-form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #374a6a;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-horse-form button[type="submit"]:hover {
    background-color: #2d3f5e;
}

.edit-horse-form input[type="text"]:focus {
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
}
.upcoming-task-list-large{
    display: none;
}
@media screen and (min-width: 1041px) {
    .container {
        display: flex;
        flex-direction: row;
    }
    .today-task{
        height: 80%;
        align-items: center;
        width: 50%;
    }
    .horse-list {
        height: 80%;
        align-items: center;
    }
    .upcoming-task-list{
        display: none;
    }
    .upcoming-task-list-large{
        display: block;
    }
}