<%-include('../partials/header.ejs')%>
<h1 style="display: flex; justify-content: center; color: white;">horse task</h1>

<div class="task-form-container">
    <form method="POST" action="/horses/<%=horseId%>/task" class="task-form">
        <label for="task">To-Do</label>
        <input type="text" id="task" placeholder="task" name="task">
        <label for="date">When</label>
        <input type="date" id="date" name="date">
        <label for="time">Time</label>
        <input type="time" id="time" name="time">
        <input type="submit">
    </form>
</div>


<%-include('../partials/footer.ejs')%>
