<%- include('../partials/header.ejs') %>
<h2 style="display: flex; justify-content: center; color: white;">Sign into your account</h2>

<% if (message) { %>
    <p><%= message %></p>
<%}%>

<form method="POST" action="/users/login" style="display: flex; justify-content: center;">
    <input type="email" name="email" id="email" placeholder="email" required>
    <input type="password" name="password" id="password" placeholder="password" required>
    <input type="submit">
</form> 
<%- include('../partials/footer.ejs') %>