<%- include('../partials/header.ejs') %>
<h2>Sign up for an account</h2>
<form method="POST" action="/users">
    <label for="email">email:</label>
    <input type="email" name="email" id="email" required>
    <label for="password">password:</label>
    <input type="password" name="password" id="password" required>
    <input type="submit">
</form>
<%- include('../partials/footer.ejs') %>