<%- include('../partials/header.ejs') %>
<h1>Equestrian Organizer</h1>

    <form method="GET" action="/horses">

        <label>Horses</label>

        <select size="4" onchange= "window.location.href = this.value" >
            <option value="/horses">Add New</option>
            <%horses.forEach(horse => { %>
                <option value="/horses/<%=horse.id%>"><%=horse.name%></option>
            <%})%>
        </select>

    </form>
    
    <br>
<label>Tasks</label>
    <select size="4" onchange= "window.location.href = this.value">
        <option value="/tasks">Add New</option>
    </select>

<%- include('../partials/footer.ejs') %>

